<h2 class="ms-3">Category</h2>
<div class="row py-2 m-2" >
  <div class="col-lg-2 col-md-3 col-sm-6"  *ngFor="let category of categories$ | async" >
    <div (click)="setCategory(category.id)" class="card text-center mb-2" style="width: fit-content; cursor: pointer;">
      <div class="card-body">
        <p class="card-text">{{category.categoryName}}</p>
      </div>
    </div>
  </div>
  <div (click)="setCategory(null)" class="card text-center mb-2" style="width: fit-content; cursor: pointer;">
    <div class="card-body">
      <p class="card-text">{{'All'}}</p>
    </div>
  </div>
</div>
<hr>
